/* src/components/BannerStyles.css */

.banner-slide {
  position: relative;
  height: 400px;
}

.banner-image {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.banner-text {
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* semi-transparente para legibilidade */
  width: 60%;
}
